/* main.css */

.main-container {
  display: flex;
  flex-direction: column;       /* organiza os filhos em coluna */
  align-items: center;          /* centraliza horizontalmente */
  padding: 0px 20px 40px 20px;
  min-height: 100vh;            /* ocupa toda a altura da tela */
  padding: 20px;
  background-color: #f8f9fa;    /* opcional: cor de fundo clara */
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;          /* centraliza os cards */
  gap: 16px;                    /* espaçamento entre os cards */
  width: 100%;
  max-width: 600px;
}

.ola{
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 2.5rem;
}

.texto{
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro translúcido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
